.terraform*
terraform.*
# Local .terraform directories
.terraform.lock.hcl
# Terraform state files

*.tfstate
*.tfstate.* 
# Crash log files
crash.log       
# Exclude override files as they are usually used for local development
override.tf
override.tf.json
# Include override files that are used for production or staging
*.auto.tfvars
*.auto.tfvars.json  

